.container{
  background-color: #FFF;
  color: #000;
  width: 400px;
  padding: 20px 0;
  gap: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-box-shadow: 5px 5px 17px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 5px 5px 17px 1px rgba(0, 0, 0, 0.3);
  & span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
}